*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #962727;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin-bottom: 16px;
}

main{
    padding: 48px;
    padding-top: 80px;
    background-color: whitesmoke;
}

body{
   font-family: "Figtree"; 
}

/*Elementos de la barra de navegación*/

.pageTitle{
    margin: 32px;
    display: flex;
    justify-content: space-evenly;
}

.Logo{
    font-size: 32px;
    color: whitesmoke;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 1.2rem;
    color: whitesmoke;
    font-weight: 500;
    text-decoration: none;
    margin-left: 2.5rem;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

/*Responsive navbar*/

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

/*breakpoints*/

@media (max-width: 987px){
    .header{
        padding: 1.3rem 5%;
    }

}

@media (max-width: 870px){
    .icons{
        display: inline-flex;
    }
    
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: auto;
        background: rgba (0 , 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    }

    .navbar a{
        display: block;
        font-size: 1.2rem;
        margin: 1.5rem 0;
        text-align: center;
    }
}

/*Elementos de la home page*/

#welcomeSign{
    margin: 16px;
    position: relative;
}

.homeContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.homeColumn1, .homeColumn2 {
    flex: 1 1 100%; 
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-evenly;
}

.salesFlyerContainer, .saleItemContainer {
    width: 100%; 
    position: relative;
}

@media (max-width: 987px) {
    .homeColumn1, .homeColumn2 {
        flex-direction: column; 
        align-items: center;
    }
}

.homeImages {
    display: flex;
    border-radius: 10px;
    background-color: #fff;
    aspect-ratio: 7/4;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.mainSaleImage {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 10px;
    background-color: #fff;
}

.saleText{
    font-family: "Rammetto One";
    text-shadow: 1px 1px 2px rgba(0,0,0, 0.25);
}

.saleText#saleTextMain {
    display: flex;
    align-items: right; 
    justify-content: end; 
    text-align: right;
    width: 40%;
    font-size: 48px;
    position: absolute;
    top: 8px;
    right: 16px;
    overflow: hidden; 
  }

@media (max-width: 854px){
    .saleText#saleTextMain{
        font-size: 32px;
    }
  }

@media (max-width: 635px){
    .saleText#saleTextMain{
        font-size: x-large;
    }
  }

.saleText#saleTextBeauty {
    width: 30%;
    height: 100%;
    position: absolute;
    top: 8px;
    left: 16px;
    color: black;
    font-size: x-large;
  }

.saleText#saleTextClothing {
    width: 30%;
    height: 100%;
    position: absolute;
    top: 8px;
    right: 16px;
    text-align: right;
    color: aliceblue;
    font-size: x-large;
    display: flex;          
    align-items: right;      
    justify-content: end;   
    
  }

.saleText#saleTextElectronics {
    width: 30%;
    height: 100%;
    position: absolute;
    top: 8px;
    right: 16px;
    text-align: right;
    color: black;
    font-size: x-large;
    display: flex;           /* Propiedad faltante */
    align-items: right;      /* Propiedad faltante */
    justify-content: end;  
    
  }

/*Elementos de las tabs*/

.images {
    display: block;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 10px;
    background-color: #fff;
}

.itemPrice{
    font-family: "STIX two text";
    margin-top: 8px;
    color: #962727;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 16px;
}

.storeItem{
    flex-grow: 1 1;
    border: 4px solid #962727;
    border-radius: 16px;
    padding: 16px;
    margin: 20px;
    background-color: rgba(245, 184, 196, 0.5);
}