*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #962727;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin-bottom: 16px;
}

main{
    padding: 80px;
}

/*Elementos de la barra de navegaci칩n*/

.pageTitle{
    margin: 32px;
    display: flex;
    justify-content: space-evenly;
}

.Logo{
    font-size: 32px;
    color: whitesmoke;
    text-decoration: none;
    font-weight: 700;
}

.navbarText{
    margin: 8px;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: whitesmoke;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

/*Elementos de la home page*/

.homeContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.homeColumn1, .homeColumn2 {
    flex: 1 1 100%; /* Ocupa toda la fila en pantallas peque침as */
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-evenly;
}

.salesFlyerContainer, .saleItemContainer {
    width: 100%; /* Mantener tama침o relativo */
    position: relative;
}

@media (max-width: 850px) {
    .homeColumn1, .homeColumn2 {
        flex-direction: column; /* Cambia a columna en pantallas peque침as */
        align-items: center;
    }
}

.homeImages {
    display: flex;
    border-radius: 10px;
    background-color: #fff;
    aspect-ratio: 7/4;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.mainSaleImage {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 10px;
    background-color: #fff;
}

.saleText#saleTextMain {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 8px;
    left: 16px;
  }

.saleText#saleTextBeauty {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 8px;
    left: 16px;
  }

.saleText#saleTextClothing {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 8px;
    right: 16px;
    text-align: end;
  }

.saleText#saleTextElectronics {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 8px;
    right: 16px;
    text-align: end;
  }

/*Elementos de las tabs*/

.images {
    display: block;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 10px;
    background-color: #fff;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 16px;
}

.storeItem{
    flex-grow: 1 1;
    border: 4px solid #962727;
    border-radius: 16px;
    padding: 16px;
    margin: 20px;
    background-color: #f5b8c4;
}

